@import 'tailwindcss';

body{
    font-family: 'Poppins', sans-serif;
}

@layer utilities {
    .cosmic-gradient {
        background: linear-gradient(-45deg, #000000, #1a0033, #330066, #000033, #000000);
        background-size: 400% 400%;
        animation: cosmic 7s ease infinite;
    }

    @keyframes cosmic {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }
}

